* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-weight: normal;
  font-family: "PingFang SC", "Microsoft YaHei", "Helvetica", "Helvetica Neue", "Tahoma", "Arial", "sans-serif";
  -webkit-tap-highlight-color: transparent
}

*, :after, :before {
  box-sizing: border-box;
}

$decorateColor: #009688;
$checkedColor: #5fb878;
$darkNavColor: #393D49;
$brightColor: #1E9FFF;
$warningColor: #F7b824;
$dangerColor: #FF5722;
$infoColor: #01AAED;
$white: #fff;
$gray1: #fbfbfb;
$gray2: #f2f2f2;
$gray3: #e7e7e7;
$gray4: #dddddd;
$gray5: #d2d2d2;
$gray6: #c2c2c2;
$fontColor: #3f3f3f;

@mixin enableMobile {
  @media screen and (max-width: 800px) {
    @content
  }
}

@mixin enablePC {
  @media screen and (min-width: 800px) {
    @content
  }
}

//清楚浮动
.clearfix {
  *zoom: 1;
  &:before, &:after {
    display: table;
    line-height: 0;
    content: "";
  }
  &:after {
    clear: both;
  }
}

.division {
  display: block;
  margin-top: 20px;
  border-bottom: 1px dashed #dfdfdf;
}

.ripple {
  position: relative;
  //隐藏溢出的径向渐变背景
  overflow: hidden;
  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    //设置径向渐变
    background: radial-gradient(circle, #666 10%, transparent 10.01%) no-repeat 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform .3s, opacity .3s;
  }
  &:active:after {
    transform: scale(0, 0);
    opacity: .3;
    //设置初始状态
    transition: 0s;
  }
}

span.loading {
  position: absolute;
  left: 0;
  background-color: $white;
  color: #5e5e5e;
  font-size: .75rem;
  z-index: 999;
  bottom: 0;
  width: 100%;
  padding: 1rem 0;
  text-align: center;
  img {
    vertical-align: middle;
    margin-right: 0.5rem;
  }
}

body {
  margin: 0;
  color: $fontColor;
  box-sizing: border-box;
  overflow-x: hidden;
  background: #F8FAFC;


  @include enableMobile() {
    height: 100vh;
    background-color: $white;
  }

  //滚动条
  &::-webkit-scrollbar {
    width: 5px;
    height: 4px;
    background-color: #f5f5f5;
  }
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px $gray6;
    border-radius: 8px;
    background-color: #f5f5f5;
  }
  &::-webkit-scrollbar-thumb {
    /*width: 10px;*/
    height: 8px;
    border-radius: 8px;
    -webkit-box-shadow: inset 0 0 1px $brightColor;
    background-color: $decorateColor;
  }
  button {
    outline: none;
    border-radius: 4px;
    background: transparent none;
    cursor: pointer;
    border: 1px solid $gray4;
  }
  a {
    text-decoration: none;
    outline: 0;
    &:link, &:visited {
      color: $fontColor;
    }
  }
  ul {
    list-style: none;
    display: flex;
  }
}

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  position: relative;

  .header {
    flex: 0 0 5rem;
    @include enableMobile {
      flex: 0 0 3.5rem;
      .logo a img {
        margin-top: -0.8rem;
      }
    }
    background-color: $white;
    display: flex;
    color: #4D555D;
    border-bottom: solid 1px $gray3;
    overflow: hidden;
    flex-wrap: wrap;
    .logo {
      display: flex;
      justify-content: center;

    }
    ul.nav-items {
      justify-content: center;
      li {
        margin: auto;
        a {
          padding: 2rem;
          transition: all .3s ease-in-out;
        }
        &:hover {
          a {
            color: $white;
            background-color: $darkNavColor;
          }
        }
        &:last-child {
          display: none;
        }
        @include enableMobile {
          display: none;
          &:last-child {
            display: inline-block;
          }
        }
        .expand-btn {
          font-size: 1.2rem;
          color: $darkNavColor;
          @include enableMobile {
            padding: 0.5rem 1rem;
            display: inline-block;
          }
        }
      }
    }
  }

  ul.nav-items-expend {
    display: none;
    position: absolute;
    top: 3.5rem;
    font-weight: 700;
    background-color: $white;
    flex-direction: column;
    font-size: 0.9rem;
    padding-left: 1rem;
    z-index: 999;
    width: 100%;
    //box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;

    li {
      text-align: center;
      position: relative;
      display: block;

      border-bottom: 1px solid #f0f0f0;
      a {
        display: block;
        padding: 1rem;
      }
    }
  }

  .main {
    display: flex;
    flex: 1;
    justify-content: space-between;
    .content {
      flex: 4;
      ul {
        flex-direction: column;
        li {

        }
      }

      @include enablePC {
        padding: 2rem;
        .article-wrap {
          display: flex;
          padding: 1.5rem;
          background: #FFF;
          box-shadow: 0 4px 8px 0 rgba(7, 17, 27, .05);
          border-radius: 8px;
          position: relative;
          margin-bottom: 16px;
          &:hover {
            cursor: pointer;
            box-shadow: 0 8px 16px 0 rgba(7, 17, 27, .1);
          }

          .list-pic {
            a {
              width: 136px;
              height: 136px;
              display: inline-block;
              border-radius: 5px;
              margin-right: 24px;
            }
          }

          .daily-recommend {
            position: absolute;
            top: 8px;
            left: 8px;
            width: 80px;
            height: 32px;
            text-align: center;
            line-height: 32px;
            color: #fff;
            font-style: normal;
            background-image: linear-gradient(-90deg, #12f3ad 0, #04c1f6 100%);
            border: 2px solid #FFF;
            border-radius: 50px 50px 0;
            box-shadow: 0 4px 8px 0 rgba(7, 17, 27, .2);
          }
        }

        .loading-more {
          background-color: transparent;
          display: block;
          width: 8rem;
          height: 2rem;
          margin: 1rem auto auto;
          border-radius: 1rem;
          line-height: 2rem;
          text-align: center;
          border: 1px solid #d9dde1;
          color: #71777d;
          font-size: 12px;
        }
      }

      .list-content {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        h3 {
          flex: 1;
          font-weight: 700;
          font-size: 16px;
          color: #07111B;
          margin-bottom: 4px;
          text-overflow: ellipsis;
          max-height: 48px !important;
          overflow: hidden !important;
        }
        p {
          font-size: 12px;
          color: #93999F;
          line-height: 24px;
          max-height: 72px;
          word-wrap: break-word;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .list-bottom {
          height: 3rem;
          line-height: 2rem;
          align-items: flex-end;
          justify-content: space-between;
          display: flex;
          color: #93999F;
          .list-left, .list-right {
            font-size: 12px;
            display: inline-block;
            i {
              vertical-align: center;
              margin-right: .5rem;
            }
          }
          .list-right {
            min-width: 9rem;
            display: flex;
            justify-content: space-between;
          }
        }
      }

      @include enableMobile {
        /*手机端样式*/
        flex: 1;
        box-shadow: none;
        padding: 1rem 1.5rem;
        position: relative;
        .article-wrap {
          border-bottom: 1px solid #e7ecef;
          padding-top: .53333333rem;
          padding-bottom: .53333333rem;
          .list-pic, .daily-recommend {
            display: none;
          }

          .list-content {
            a h3 {
              color: #2B333B;
              font-weight: 700;
              padding-bottom: .32rem;
            }
            a p {
              overflow: hidden;
              color: #5e5e5e;
              font-size: 0.8rem;
            }
            .list-bottom {
              color: #5e5e5e;
            }
          }
        }
        .loading-more {
          display: none;
        }
      }

    }
    .nav, .ads {
      padding: 2rem 1rem 1rem 1rem;
      flex: 2;
      @include enableMobile {
        display: none;
      }
    }
    .nav {
      order: -1;
      ul.nav-wrap {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        li.nav-item {
          max-width: 15rem;
          box-sizing: border-box;
          padding: 1rem;
          cursor: pointer;
          &:first-child {
            margin-top: -.6rem;
          }
          &:hover {
            a {
              color: #f01414;
            }
          }
        }
        li.active {
          a{
            font-weight: 700;
            color: #F01414;
          }
        }
      }
    }
  }

  .footer {
    flex: 0 0 3rem;
    background-color: $gray2;
  }
}