@import "base";
.container {
  .main {
    display: flex;
    flex: 1;
    justify-content: space-between;
    .content {
      flex: 4;
      ul {
        flex-direction: column;
        li {

        }
      }
      @include enablePC {
        padding: 2rem;
        .article-wrap {
          display: flex;
          padding: 1.5rem;
          background: #FFF;
          box-shadow: 0 4px 8px 0 rgba(7, 17, 27, .05);
          border-radius: 8px;
          position: relative;
          margin-bottom: 16px;
          &:hover {
            cursor: pointer;
            box-shadow: 0 8px 16px 0 rgba(7, 17, 27, .1);
          }

          .list-pic {
            a {
              width: 136px;
              height: 136px;
              display: inline-block;
              border-radius: 5px;
              margin-right: 24px;
            }
          }

          .daily-recommend {
            position: absolute;
            top: 8px;
            left: 8px;
            width: 80px;
            height: 32px;
            text-align: center;
            line-height: 32px;
            color: #fff;
            font-style: normal;
            background-image: linear-gradient(-90deg, #12f3ad 0, #04c1f6 100%);
            border: 2px solid #FFF;
            border-radius: 50px 50px 0;
            box-shadow: 0 4px 8px 0 rgba(7, 17, 27, .2);
          }
        }

        .loading-more {
          background-color: transparent;
          display: block;
          width: 8rem;
          height: 2rem;
          margin: 1rem auto auto;
          border-radius: 1rem;
          line-height: 2rem;
          text-align: center;
          border: 1px solid #d9dde1;
          color: #71777d;
          font-size: 12px;
        }
      }

      .list-content {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        h3 {
          flex: 1;
          font-weight: 700;
          font-size: 16px;
          color: #07111B;
          margin-bottom: 4px;
          text-overflow: ellipsis;
          max-height: 48px !important;
          overflow: hidden !important;
        }
        p {
          font-size: 12px;
          color: #93999F;
          line-height: 24px;
          max-height: 72px;
          word-wrap: break-word;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .list-bottom {
          height: 3rem;
          line-height: 2rem;
          align-items: flex-end;
          justify-content: space-between;
          display: flex;
          color: #93999F;
          .list-left, .list-right {
            font-size: 12px;
            display: inline-block;
            i {
              vertical-align: center;
              margin-right: .5rem;
            }
          }
          .list-right {
            min-width: 9rem;
            display: flex;
            justify-content: space-between;
          }
        }
      }

      /*手机端样式*/
      @include enableMobile {
        flex: 1;
        box-shadow: none;
        padding: 1rem 1.5rem;
        position: relative;
        .article-wrap {
          border-bottom: 1px solid #e7ecef;
          padding-top: .53333333rem;
          padding-bottom: .53333333rem;
          .list-pic, .daily-recommend {
            display: none;
          }

          .list-content {
            a h3 {
              color: #2B333B;
              font-weight: 700;
              padding-bottom: .32rem;
            }
            a p {
              overflow: hidden;
              color: #5e5e5e;
              font-size: 0.8rem;
            }
            .list-bottom {
              color: #5e5e5e;
            }
          }
        }
        .loading-more {
          display: none;
        }
      }

    }
    .nav, .ads {
      padding: 2rem 1rem 1rem 1rem;
      flex: 1.8;
      @include enableMobile {
        display: none;
      }
    }
    .nav {
      order: -1;
      ul.nav-wrap {
        display: block;
        li.nav-item {
          display: block;
          text-align: right;
          box-sizing: border-box;
          padding: 1rem;
          &:first-child {
            margin-top: -.6rem;
          }

          a{
            display: inline-block;
            min-width: 8rem;
            &:hover{
              color: #F01414;
            }
          }
        }
        li.active {
          a {
            font-weight: 700;
            color: #F01414;
          }
        }
      }
    }
  }
}